<!DOCTYPE html>
<div layout="column" class="container">
  <div layout="row" class="dashboard-top">

    <!-- Presentation Card -->
    <div layout="row" flex="40" class="presentation-card">
      <div layout="row" flex="40" layout-align="center center">
        <img src="../assets/images/pphc_logo.png" class="presentation-logo">
      </div>
      <div layout="row" flex="60" layout-align="start center">
        <ul>
          <li class="presentation-black">{{dashboard.medicalCenter.name}}</li>
          <li class="presentation-light l-font-size">{{dashboard.medicalCenter.address}}</li>
          <li class="presentation-light l-font-size">{{dashboard.medicalCenter.office}}</li>
          <li class="presentation-light l-font-size">{{dashboard.medicalCenter.location}}</li>
          <li class="presentation-dark l-font-size">PH: {{dashboard.medicalCenter.ph}}</li>
          <li class="presentation-dark l-font-size">FAX: {{dashboard.medicalCenter.fax}}</li>
        </ul>
      </div>
    </div>

    <!-- Overall Financial Status -->
    <div layout="row" layout-align="end center" flex="60">
      <div layout="column"  flex="95">
        <div layout="row" class="chart-header md-font-size" layout-align="end center">
          <div layout="row" flex="95" layout-align="center center">
            <p>Overall Financial Status</p>
          </div>
          <div layout="row" flex="5" layout-align="end center">
            <md-icon class="menu-icon chart-icon" md-font-icon="icon-cog"></md-icon>
          </div>
        </div>
        <div layout="row" class="chart-content">
          <highchart id="OFSChart" config="dashboard.OFSChartConfig"></highchart>
        </div>
      </div>
    </div>
  </div>

  <!-- Risk Stratification -->
  <div layout="row">
    <div layout="row" layout-align="start center" flex="60">
      <div layout="column"  flex="95">
        <div layout="row" class="chart-header md-font-size" layout-align="end center">
          <div layout="row" flex="95" layout-align="center center">
            <p>Risk Stratification</p>
          </div>
          <div layout="row" flex="5" layout-align="end center">
            <md-icon class="menu-icon chart-icon" md-font-icon="icon-cog"></md-icon>
          </div>
        </div>
        <div layout="column" layout-align="center center" class="chart-content-bottom">
          <div layout="row" class="risk-head-container md-font-size">
            <div layout="row" class="empty-space"></div>
            <div layout="row" class="risk-header risk-color1" layout-align="center center">1</div>
            <div layout="row" class="risk-header risk-color2" layout-align="center center">2</div>
            <div layout="row" class="risk-header risk-color3" layout-align="center center">3</div>
            <div layout="row" class="risk-header risk-color4" layout-align="center center">4</div>
            <div layout="row" class="risk-header risk-color5" layout-align="center center">5</div>
          </div>
          <div layout="row" data-ng-repeat="risk in dashboard.RSTable">
            <div layout="row" class="first-risk-cell xs-font-size" layout-align="center center">{{risk.name}}</div>
            <div layout="row" class="risk-cell risk-text xs-font-size" layout-align="center center">{{risk.risk1}}</div>
            <div layout="row" class="risk-cell risk-text xs-font-size" layout-align="center center">{{risk.risk2}}</div>
            <div layout="row" class="risk-cell risk-text xs-font-size" layout-align="center center">{{risk.risk3}}</div>
            <div layout="row" class="risk-cell risk-text xs-font-size" layout-align="center center">{{risk.risk4}}</div>
            <div layout="row" class="last-risk-cell risk-text xs-font-size" layout-align="center center">{{risk.risk5}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Physician Groups -->
    <div layout="row" flex="40">
      <div layout="column">
        <div layout="row" class="chart-header md-font-size" layout-align="end center">
          <div layout="row" flex="95" layout-align="center center">
            <p>Physician Groups</p>
          </div>
          <div layout="row" flex="5" layout-align="end center">
            <md-icon class="menu-icon chart-icon" md-font-icon="icon-cog"></md-icon>
          </div>
        </div>
        <div layout="column">
          <highchart id="PGChart" config="dashboard.PGChart"></highchart>
        </div>
      </div>
    </div>

  </div>
</div>
