<!DOCTYPE html>
<div layout="column" class="container">
  <div layout="row">

    <!-- Presentation Card -->
    <div layout="row" flex="55">
      <div layout="row" class="presentation-card" flex="95">
        <ul>
          <li><img class="avatar-patient" src="../assets/images/profile-fallback.png"></li>
          <li class="patient-avatar-text xs-font-size">DOB:{{patient.patientInfo.birthDate}}</li>
          <li class="patient-avatar-text xs-font-size">{{patient.patientInfo.age}} YRS</li>
        </ul>
        <ul>
          <li class="presentation-black">{{patient.patientInfo.name}}</li>
          <li class="presentation-light l-font-size">{{patient.patientInfo.address}}</li>
          <li class="presentation-light l-font-size">{{patient.patientInfo.location}}</li>
          <li class="presentation-dark l-font-size">PH: {{patient.patientInfo.ph}}</li>
          <li class="presentation-light l-font-size presentation-status">Enrollment Status:</li>
          <li class="presentation-dark l-font-size">{{patient.patientInfo.status}}</li>
        </ul>
        <ul class="button-list md-font-size">
          <li layout="row" layout-align="center center">View Patient Timeline</li>
          <li layout="row" layout-align="center center">View Patient Risk</li>
          <li layout="row" layout-align="center center">Opportunities for Patient</li>
        </ul>
      </div>
    </div>

    <!-- Current Risk Stratification -->
    <div layout="row" flex="40">
      <div layout="column" flex="60">
        <div layout="row" class="chart-header md-font-size" layout-align="end center">
          <div layout="row" flex="95" layout-align="center center">
            <p>Current Risk Stratification</p>
          </div>
          <div layout="row" flex="5" layout-align="end center">
            <md-icon class="menu-icon chart-icon" md-font-icon="icon-cog"></md-icon>
          </div>
        </div>
        <div layout="column" class="p-risk-bottom">
          <div layout="row">
            <span class="cur-risk-title md-font-size">Current</span>
          </div>
          <div layout-align="center start" layout="row" class="cur-risk-container">
            <div layout="row" layout-align="center center" class="cur-risk-circle">
              <p>{{patient.curRSInfo.current}}</p>
            </div>
          </div>
          <div layout="row">
            <div layout="column" class="p-risk-indicator projected-color">
              <div layout="row" layout-align="center center" class="p-risk-text cur-risk-title md-font-size">Projected</div>
              <div layout="row" layout-align="center center" class="subcircle-body">
                <div layout="row" layout-align="center center" class="p-risk-subcircle circle-color1 circle-text">{{patient.curRSInfo.projected}}</div>
              </div>
            </div>
            <div layout="column" class="p-risk-indicator">
              <div layout="row" layout-align="center center" class="p-risk-text cur-risk-title md-font-size">2015</div>
              <div layout="row" layout-align="center center" class="subcircle-body">
                <div layout="row" layout-align="center center" class="p-risk-subcircle circle-color2 circle-text">{{patient.curRSInfo.lastYear}}</div>
              </div>
            </div>
            <div layout="column" class="p-risk-indicator">
              <div layout="row" layout-align="center center" class="p-risk-text cur-risk-title md-font-size">2014</div>
              <div layout="row" layout-align="center center" class="subcircle-body">
                <div layout="row" layout-align="center center" class="p-risk-subcircle circle-color3 circle-text">{{patient.curRSInfo.beforeLastYear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
