<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Talos Digital</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
  </head>

  <body data-ng-controller="Site as site">

    <!-- Header -->
    <md-toolbar>
      <div layout="row" class="hor-container">
        <div layout="row" flex="30" layout-align="start center" class="hor-subcontainer">
          <img class="talos-logo" src="../assets/images/talos-logo-small.png" ng-click="site.goHome()">
        </div>
        <div layout="row" flex="70" layout-align="end center" class="hor-subcontainer">
          <div layout="row">
            <img class="avatar" src="../assets/images/profile-fallback.png">
            <button class="empty-button md-font-size" ng-click="">
              <span>{{site.loggedUser}}</span>
              <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
            </button>
            <button class="menu-button" ng-click="site.toggleMenu()">
              <md-icon md-font-set="material-icons">menu</md-icon>
            </button>
          </div>
       </div>
      </div>
    </md-toolbar>

    <!-- Menu -->
    <md-sidenav md-component-id="right" class="md-sidenav-right menu md-font-size">
      <div class="close-menu" layout="row">
        <button class="empty-button" ng-click="site.toggleMenu()">
          <md-icon class="close-icon" md-font-icon="icon-cross-out"></md-icon>
        </button>
      </div>
      <ul>
        <li ng-click="site.goToDashboard()">
          <div layout="row" class="bottom-menu-item" layout-align="start center">
            <md-icon class="menu-icon sm-font-size" md-font-icon="icon-graph-horizontal"></md-icon>
            <span>Business Leader</span>
          </div>
        </li>
        <li ng-click="site.goToPatient()">
          <div layout="row" class="bottom-menu-item" layout-align="start center">
            <md-icon class="menu-icon sm-font-size" md-font-icon="icon-user"></md-icon>
            <span>Patient View</span>
          </div>
        </li>
      </ul>
    </md-sidenav>

    <!-- Content -->
    <div layout="column" layout-align="start center" class="content-wrapper">
      <div ui-view></div>
    </div>

    <!-- Footer -->
    <md-toolbar class="footer">
      <div layout="row" layout-align="end center" class="hor-container hor-subcontainer">
        <p class="footer-text md-font-size">&#169; 2016 Leidos  PRIVACY POLICY  |  SITE MAP</p>
      </div>
    </md-toolbar>
  </body>
</html>
