@font-face {
  font-family: 'AvenirLTStd Book';
  src: url('../fonts/avenir-lt-std/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLTStd Light';
  src: url('../fonts/avenir-lt-std/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLTStd Medium';
  src: url('../fonts/avenir-lt-std/AvenirLTStd-Medium.woff') format('woff');
}
