/** Import Fonts **/

@import url('talos-font.css');
@import url('AvenirLTStd.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/** General **/
.container {
  width:1140px;
}
.content-wrapper {
  background-color:#dae1e6;
    min-height:100%;
  padding:20px 0;
}
html,body {
  min-height:100%;
}
.l-font-size{
  font-family:'AvenirLTStd Book';
  font-size:14px;
}
.md-font-size{
  font-family:'AvenirLTStd Book';
  font-size:13px;
}
.sm-font-size{
  font-family:'AvenirLTStd Book';
  font-size:12px;
}
.xs-font-size{
  font-family:'AvenirLTStd Book';
  font-size:11px;
}

/** Header **/
.avatar {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  float:left;
  height:40px;
  margin-right:5px;
  position:relative;
  width:40px;
}
.bottom-menu-item {
  height:50px;
  padding:0 0 0 20px;
}
.close-icon {
  color:#d96334;
  font-weight:bolder;
}
.close-menu {
  border-bottom:1px solid #a62f00;
  height:69px;
  padding:0 0 0 20px;
}
.empty-button {
  background-color:#d13b00;
  border:none;
  color:#FFF!important;
  font-weight:700;
}
.empty-button:focus,
.talos-logo:focus,
.menu-button:focus,
.menu ul li:focus{
  outline:0;
}
.hor-subcontainer {
  height:70px;
}
.menu {
  background-color:#d13b00;
  width:301px;
}
.menu ul {
  color:#FFF;
  font-weight:700;
  margin:0;
  padding:0;
}
.menu ul li {
  border-bottom:1px solid #a62f00;
  border-style:solid none;
  border-top:1px solid #de774e;
  cursor:pointer;
}
.menu ul li:hover {
  background-color:#d94f21;
}
.menu-button {
  background-color:#d13b00;
  border:none;
  color:#FFF!important;
  font-weight:700;
}
.menu-button:hover {
  background-color:#d94f21;
  outline:0;
}
.menu-icon {
color:#FFF;
margin:0;
}
.talos-logo {
  cursor:pointer;
  height:50px;
  width:99px;
}
.hor-container {
  background-color:#d13b00;
  padding:0 5.8%;
}

/** Content - Dashboard **/
.chart-content-bottom {
  background-color:#FFF;
  height:218px;
}
.chart-content-top {
  background-color:#FFF;
  height:160px;
}
.chart-header {
  background-color:#e9edf0;
  color:#777b80;
  font-weight:700;
  height:30px;
}
.chart-icon {
  color:#777b80;
  font-size:15px;
  font-weight:700;
  margin:0 4px 0 0;
}
.dashboard-top {
  margin-bottom:20px;
}
.empty-space {
  height:36px;
  width:58px;
}
.first-risk-cell {
  border-bottom:1px solid #e6e6e6;
  border-left:1px solid #e6e6e6;
  border-top:1px solid #e6e6e6;
  color:#777b80;
  font-weight:700px;
  height:61px;
  width:58px;
}
.last-risk-cell {
  border-bottom:1px solid #e6e6e6;
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
}
.presentation-black {
  color:#333;
  font-size:17px;
  font-weight:700;
}

.presentation-card {
  background-color:#FFF;
  height:190px;
}
.presentation-card ul {
  font-family:'AvenirLTStd Book';
}
.presentation-card ul li {
  list-style:none;
  margin-bottom:4px;
}
.presentation-dark {
  color:#999;
  font-weight:bolder;
}
.presentation-light {
  color:#999;
}
.presentation-logo {
  height:41px;
  width:131px;
}
.risk-cell {
  border-bottom:1px solid #e6e6e6;
  border-left:1px solid #e6e6e6;
  color:#777b80;
}
.risk-color1 {
  background-color:#64a138;
}
.risk-color2 {
  background-color:#a9b043;
}
.risk-color3 {
  background-color:#e8ca46;
}
.risk-color4 {
  background-color:#ed972d;
}
.risk-color5 {
  background-color:#de3b26;
}
.risk-head-container {
  border-left:1px solid #FFF;
  border-right:1px solid #FFF;
  color:#FFF;
  font-weight:700;
}
.risk-header {
  border-left:1px solid #FFF;
  height:36px;
  width:102px;
}
.risk-text {
  color:#777b80;
  font-weight:700;
  height:61px;
  width:102px;
}

/** Content - Patient **/
.avatar-patient {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border:2px solid #e6e6e6;
  border-radius:50%;
  height:90px;
  margin-bottom:3px;
  position:relative;
  width:90px;
}
.button-list li {
  -moz-border-radius:28;
  -webkit-border-radius:28;
  background-color:#d13b00;
  border-radius:28px;
  color:#FFF;
  font-weight:700;
  height:40px;
  margin-bottom:17px!important;
  width:200px;
  cursor:pointer;
}
.button-list li:hover{
  -moz-border-radius:28;
  -webkit-border-radius:28;
  background-color:#d94f21;
  border-radius:28px;
}
.circle-color1 {
  border:2px dashed #ed972d;
  color:#ed972d;
}
.circle-color2 {
  border:2px solid #e8ca46;
  color:#e8ca46;
}
.circle-color3 {
  border:2px solid #e04631;
  color:#e04631;
}
.circle-text {
  font-family:'AvenirLTStd Book';
  font-size:23px;
  font-weight:700;
}
.cur-risk-circle {
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  background:#ed972d;
  border-radius:50px;
  height:70px;
  position:relative;
  text-align:center;
  width:70px;
}
.cur-risk-container {
  color:#FFF;
  font-family:'AvenirLTStd Book';
  font-size:30px;
  font-weight:700;
  height:75px;
}
.cur-risk-title {
  color:#999;
}
.p-risk-bottom {
  background:#FFF;
  height:160px;
  padding:4px;
}
.p-risk-indicator {
  height:61px;
  width:100px;
}
.p-risk-subcircle {
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  height:35px;
  position:relative;
  text-align:center;
  width:35px;
}
.patient-avatar-text {
  color:#000;
  font-weight:700;
  text-align:center;
}
.presentation-status {
  margin-top:30px;
}
.projected-color {
  background-color:#dae1e6;
}
.subcircle-body {
  height:45px;
}

/** Footer **/
.footer {
  bottom:0;
  left:0;
  position:relative;
  right:0;
}

.footer-text {
  color:#FFF!important;
  font-weight:700;
}
